div .img {
  margin: 2.5em;
  position: relative;
  float: left;
  width: 250px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

div .image-list {
  padding: .5em;
  display: inline-block;
}

div .buttons {
  justify-content: center;
  width: 100%;
  padding: 1em;
}
